.task-form {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.flex-row {
    display: flex;
    justify-content: flex-start;
    padding: .5em;
}
.flex-row > .btn-group {
    display: flex;
    padding: 5px;
    margin: 2px;
    justify-content: flex-start;
}
.flex-row > .validation-message {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
}